*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rproj
.Rproj.user
/.idea
/output
/output_v2
*.xlsx
/data
/output_legacy
/plot_biometrics_v1
/code/function/not_important
/code/simulation/not_important
/code/visualization/not_important
/code/real_data/not_important
/metadata/simulate_X.R
/plot/not_important
/metadata
/plot
